body {
	margin: 0 40px;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
}
a {
	text-decoration: none;
} 

.nav {
	line-height: 26px;
	font-weight: 700;
	background-color:#ffffff; 
}

.nav_link {
	list-style: none;
}

.nav_link a {
	color:#000000;
}

.nav_link a:hover,
.nav_link a:focus {
	color: #81b3d2;
	background-color: white; 
}

.feature-list {
	list-style: none;
	text-align: center;
}


.feature-item-white1 {
	color: white;
	background-color: #81b3d2;
	padding: 50px 50px 65px 50px;
	margin-right: 850px;
}
.feature-item-white2 {
	color: white;
	background-color: #81b3d2;
	padding: 50px 50px 65px 50px;
	margin-left: 850px;
} 


.feature-item-black {
	color: black;
	background-color: #eeeeee;
	padding: 50px 50px 65px 50px;
}


.feature-list h3 {
	font-size: 21px;
	font-weight: 700;
}

.feature-photo1 {
	float: right;
	height: 255px;
}
.feature-photo2 {
	float: left;
}
.features-img {
	list-style: none;
	background-color: white;
}



