/*common*/

body {
	width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
} 

img {
	max-width: 100%;
	height: auto;
}

.visually_hidden {
  	position: absolute;
   	width: 1px;
   	height: 1px;
  	margin: -1px;
   	padding: 0;
  	overflow: hidden;
   	border: 0;
   	clip: rect(0 0 0 0)
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
  url("../fonts/symbols-sedona.woff2") format("woff2");
}

/*header*/

.nav {
	min-height: 56px;
	line-height: 26px;
	font-weight: 700;
	background-color:#ffffff;
}

.nav_list {
	display: flex;  
	flex-wrap: wrap;
	list-style: none;
	margin: 0; 
	padding-left: 0;
	text-align: center;
}

.nav_list li { 
	height: 56px;
	width: 240px;
	
}


.nav_list a {
	display: block;
	color:#000000;
	padding-top: 15px;
}

.nav_list a:hover, 
.nav_list a:focus {
	color: #81b3d2;
	background-color: white; 
}

.img_logo {
	z-index: 1;
}

.img_logo a {
	padding-top: 0;
}

/*main*/

.main_image {
	height: 431px;
    padding-top: 76px;
    position: relative;
    background: linear-gradient(to top, #3e79a2, #e3f0f9);
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
   
}

.main_image img {
  	display: block;
 	margin: 0 auto;
}

.main_image:after {
 	content: url(../img/polygon.png);
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	display: block;
  	width: 100%;
  	height: 57px;
}

.reasons {
	text-align: center;
}

.reasons h3{
	font-size: 21px;
}

.reasons_header {
	height: 115px;
	padding-top: 60px;
	padding-bottom: 40px;
	text-align: center;
	background-color: white;
}

.reasons_header p:first-child {
	margin: 0;
    margin-bottom: 30px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}


.first_reason {
	display: flex;
}

.first_reason_text{
	height: 256px;
	width: 400px;
	color: white;
	background-color: #81b3d2;
	margin-right: 0;
}

.first_reason img {
	background-image: url("img/reason1_back.jpg");
}


.reasons_without_number {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	text-align: center;
}

.reasons_without_number div {
	width: 400px;
	min-height: 330px;
}

.reasons_without_number h3 {
	margin-top: 0;
	padding-top: 164px;
}

.accommodation_reason,
.food_reason,
.souvenir_reason {
	position: relative;
}

.accommodation_reason :before {
	content: url(../img/accommodation.png);
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -37.5px;
}

.food_reason :before {
	content: url(../img/food.png);
	position: absolute;
	top: 61px;
	left: 50%;
	margin-left: -37px;
}

.souvenir_reason :before {
	content: url(../img/souvenir.png);
	position: absolute;
	top: 56px;
	left: 50%;
	margin-left: -32px;
}


.second_reason {
	display: flex;
}

.second_reason_text {
	height: 256px;
	color: white;
	background-color: #81b3d2;
	width: 400px;
	margin-right: 0;

}

.second_reason img {
	background-image: url("img/reason2_back.jpg");
}

.reasons_with_grey_bg {
	display: flex;
	flex-wrap: wrap;
	
}

.reasons_with_grey_bg div {
	width: 400px;
	min-height: 256px;
	color: black;
	background-color: #eeeeee;
}

.first_reason h3,
.second_reason h3,
.reasons_with_grey_bg h3 {
	padding-top: 50px;
	margin-top: 0;
}

.search {
	text-align: center;
	background-color: white;
}

.search_header {
	text-align: center;
	background-color: white;
	height: 205px;
}

.search_header p:first-child {
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 25px;
	padding-top: 53px;
	padding-bottom: 0;
}

.search_header p {
	line-height: 24px;
	margin: 0;
	padding-bottom: 50px;
}

.search_button_show {
	font: inherit;
	text-transform: uppercase;
	text-align: center;
	height: 86px;
	width: 570px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	background-color: #766357;
	color:white;
	border: none;
	padding: 0;
}

.search_button_show:hover,
.search_button_show:focus {
	background-color: #604e43
}


.form_starting_position{
	position: relative;
}

.form {
	padding: 55px 57px 51px 53px;
	width: 460px;
	background-color: white;
	display: none;
}

.form { /*position*/
	position: absolute;
 	top: 0px; 
 	left: 50%;
 	margin-left: -285px;
 	

 	
}


.arrival_row {
	display: flex;
	align-items: center;
	padding: 0;
	margin-bottom: 30px;
}

.departure_row {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.arrival_input {
	display: flex;
	align-items: center;
	width: 346px;
 	padding: 0;
 	margin-left: 25px;

}

.calendar:after {
	content: url(../img/calendar.png);
  	margin: 0 10px;

}

.departure_input {
	display: flex;
	align-items: center;
	width: 346px;
 	padding: 0;
 	margin-left: 22px;

}

.arrival_input button {
	height: 38px;
	border: none;
	padding: 0;
	background-color: #f2f2f2; 
}

.departure_input button {
	height: 38px;
	border: none;
	padding: 0;
	background-color: #f2f2f2; 
}


form input {
	height: 38px;
}

.arrival_row input {
	padding: 0;
	padding-left: 13px;
	flex-grow: 1;

} 

.departure_row input {
	padding: 0;
	padding-left: 13px;
	flex-grow: 1;
}

.guests_row {
	display: flex;
	align-items: center;

}

.adults input,
.children input {
	width: 38px;
	text-align: center;
	margin-left: 0;
	padding: 0;
	
}
.adults {
	padding: 0;
	display: flex;
	align-items: center;
	margin: 0;
}


.adults button {
	
	width: 38px;
	height: 38px;
	background-color: #f2f2f2; 
	border:none;
}

.adults_minus:after,
.children_minus:after {
	color: #a9a9a9;
	font-family: "symbols-sedona";
	content: "\e802";

}

.adults_plus:after,
.children_plus:after {
	color: #a9a9a9;
	font-family: "symbols-sedona";
	content: "\e801";
}


.adults_input {
	display: flex;
	padding: 0;
	width: 114px;
	margin-left: 39px;
}

.children_input {
	display: flex;
	padding: 0;
	width: 114px;
	margin-left: 28px;
}

.children {
	padding: 0;
	display: flex;
	align-items: center;
	margin: 0;
	margin-left: 55px;
}
.children button {
	
	width: 38px;
	height: 38px;
	background-color: #f2f2f2; 
	border:none;
}

.search_button {
	height: 58px;
	width: 459px;
	
	font: inherit;
	text-transform: uppercase;
	color: white;
	font-size: 21px;
	font-weight: 700;
	vertical-align: middle;

	background-color: #81b3d2;
	border: none;
	margin-right: 0;
	margin-left: 0;
	margin-top: 55px; 
	padding: 0;

}


.form_inner div {
	line-height: 26px;
	font-weight: 700;
}

.form_inner input {
	font: inherit;
	background-color: #f2f2f2; 
	border:none;
}

.form_inner input:hover {
	background-color: #ebebeb;
}

.form_inner input:focus {
	background-color: white;
	outline:none;
	border: 2px solid #e5e5e5; 
}

.search_button:hover,
.search_button:focus {
	background-color: #669ec0;
	outline:none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
-webkit-appearance: none; 
}


footer {
	display: flex;
	justify-content: space-around;
	align-items: center; 
	height: 120px;
    background-color: rgba(255,255,255,.9);
}

.footer {
	position: absolute;
    margin-top: -120px;
}


.map {
	height: 593px;
	background-color: #cbdda9;
	background-image:url("img/map.png");
}

iframe {
	
	border:0;
}

footer section {
	width: 400px;
}

.contacts {
	color: black;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	
}

.contacts span {
	padding-left: 90px;
}

.contacts a {
	color: black;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;

}


.social {
	padding-left: 0;
	
}

.social a {
	background-color: #81b3d2;
	text-align: center; 
	width: 46px;
	height: 46px;
	margin: 0 3px;


}


.twitter,
.youtube {
	padding-top: 15px;	
} 

.facebook {
	padding-top: 12px;
}



.academy {
	line-height: 26px;

}

.academy span {
	margin-right: 7px;
	padding-top: 15px;
		
}

.academy a {
	margin-top: 7px; 
}


.contacts {
	display: flex;
	flex-direction: column;
}

.social  {
	display: flex;
	justify-content: center;

}

.academy {
	display: flex;
	justify-content: center;
	vertical-align: middle;
}


/*js*/

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(30px);
	}

	50% {
		transform: translateY(-15px);
	}

	75% {
		transform: translateY(15px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}

	15% {
		transform: translateX(-15px);
	}

	30% {
		transform: translateX(15px);
	}

	45% {
		transform: translateX(-15px);
	}

	60% {
		transform: translateX(15px);
	}

	75% {
		transform: translateX(-15px);
	}

	90% {
		transform: translateX(15px);
	}

	100% {
		transform: translateX(0);
	}
}

.form_show {
	display: block;
	animation: bounce 0.6s;

}

.form_error {
	animation: shake 0.6s;
}


/*hotels.html*/
.hotel_selection {
	color: white;
	background-color: #3e79a2;
	background-image: url(../img/filter_background.jpg);
	background-repeat: no-repeat;

}

.hotel_selection_form {
	display: flex;
	height: 217px;
}


.hotel_selection ul{
	list-style: none;
	padding-left: 0;
}


fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.infrastructure {
	width: 240px;
	padding-left: 72px;

}

.accommodation {
	width: 273px;
	padding-left: 15px;
}

.price {
	width: 316px;
	padding-left: 211px;
	
}

.price_range input {
	max-width: 35px;
}

.price button{
	display: block;
}

legend {
	font-weight: 700;
	padding-top: 20px;
}

.searching_result {
	display: flex;
	height: 87px;
	align-items: center;
	background-color: white;
}

.found_hotels {
	background-color: white;
}

.sorting {
	display: flex;
}

.first_hotel {
	display: flex;
}

.second_hotel {
	display: flex;
}

.third_hotel {
	display: flex;
}