body {
	width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
}
	a {
		text-decoration: none;
} 

	img {
		max-width: 100%;
		height: auto;
	}

.nav {
	height: 56px;
	line-height: 26px;
	font-weight: 700;
	background-color:#ffffff;
}

.nav_link {
	list-style: none;
	margin: 0; 
	padding-left: 0;
	text-align: center;
	height: 56px;

}

.nav_link li { 
	width: 240px;
}


.nav_link a {
	color:#000000;	
}

.nav_link a:hover, 
.nav_link a:focus {
	color: #81b3d2;
	background-color: white; 
}

.img-logo {
	height: 100%;
	padding-top: 0;
	margin: 0;
}

/*flex*/

.nav_link {
	display: flex;  
	align-items: center; 
	flex-wrap: wrap;
	
}



.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0)
}

.background {
	width: 1199px;
	height: 508px;
	background-color: #e4f1f9;
	background-image: url("img/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
    
}


.background_reasons {
	height: 151px;
	text-align: center;
	background-color: white;
	border-top: 0;
	padding-bottom: 65px;
	
	
}
.slogan {
	margin: 0;
    padding-top: 65px;
	height: 47px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;


}
.features-text {
	
	margin-top: 54px;
	
	line-height: 14px;
	background-color: white;
}


.feature-list {
	
	margin: 0;
	padding-left: 0;
	list-style: none;
	text-align: center;
}

.feature-photo1 {
	background-image: url("img/reason1_back.jpg");
}

.feature-photo2 {
	background-image: url("img/reason2_back.jpg");
}

/*flex photo 1*/

.first_reason {
	display: flex;
}

.first_reason div{
	height: 166px;
	margin-top: 50px;
}


.feature-item-white1 {
	color: white;
	background-color: #81b3d2;
	width: 400px;
	

}




/*flex photo 2*/

.second_reason {
	display: flex;
}

.second_reason div {
	height: 166px;
	margin-top: 50px;

}



.feature-item-white2 {
	color: white;
	background-color: #81b3d2;
	width: 400px;
	

} 

.feature-item-white2 p {

margin-top: 21px;
}

.feature-item-black {
	width: 400px;
	color: black;
	background-color: #eeeeee;
	height: 256px;
	

}


.feature-list h3 {
	font-size: 21px;
	font-weight: 700;
}

.features {
	padding-right: 0;
}
.features-img {
	list-style: none;
	background-color: white;
	padding-left: 0;
}

.motel {
	height: 166px;
}

.features-img figure {
	margin-top: 60px;
}


/*flex */
.features-img {
	display: flex;
	justify-content: space-around;

}

.reason_black {
	display: flex;
	justify-content: space-around;
	background-color: #eeeeee;
	align-items: center; 
	height: 256px;
}

.dark {
	height: 166px;
	margin-top: 50px;
}

.text-all {
	text-align: center;
	background-color: white;
	height: 205px;
	
	
}

.text-all div {
	height: 147px;
	padding-top: 58px;
}

.text-all h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	margin-top: 0;
}

.text {
	line-height: 24px;
}
.search {
	text-align: center;
	background-color: white;


}

.search button {
	font: inherit;
	text-transform: uppercase;
	text-align: center;
	height: 86px;
	width: 570px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	background-color: #766357;
	color:white;
	border: none;
	padding: 0;
}

.search button:hover,
.search button:focus {
	background-color: #604e43
}


.form-container{
	position: relative;
}

.form {
	padding: 55px 57px 51px 53px;
	width: 460px;
	
	background-color: white;
}

.form { /*position*/
	position: absolute;
 	top: 0px; 
 	left: 50%;
 	margin-left: -285px;
 	display: none;

 	
}

form div {
	

		
	
}

.arrival {
	display: flex;
	align-items: center;
	padding: 0;
	margin-bottom: 30px;
}

.departure {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.date {
	display: flex;
	align-items: center;
	width: 346px;
 	padding: 0;
 	margin-left: 25px;

}

.date2 {
	display: flex;
	align-items: center;
	width: 346px;
 	padding: 0;
 	margin-left: 22px;

}

.date button {
	height: 38px;
	border: none;
	padding: 0;
	background-color: #f2f2f2; 

}

.date2 button {
	height: 38px;
	border: none;
	padding: 0;
	background-color: #f2f2f2; 

}


.calendar img {
	padding-right: 10px;
	padding-left: 10px;
}

form input {

	height: 38px;


}

.arrival input {
	padding: 0;
	padding-left: 13px;
	flex-grow: 1;

} 

.departure input {
	padding: 0;
	padding-left: 13px;
	flex-grow: 1;
}

.people {
	display: flex;
	align-items: center;

}

.adults input,
.children input {
	width: 38px;
	text-align: center;
	
}
.adults {
	padding: 0;
	display: flex;
	align-items: center;
	margin: 0;
}
.adults input {
	
	margin-left: 0;
	padding: 0;
	
}

.children input {
	
	margin-left: 0;
	padding: 0;
	
}



.adults button {
	
	width: 38px;
	height: 38px;
	background-color: #f2f2f2; 
	border:none;
	

}


.minus {
	
	width: 38px;
	padding: 0;
	vertical-align: middle;
}

.minus img {
	padding-bottom: 3px;
}

.plus {
	margin-left: 0;
	width: 38px;
	padding: 0;
}

.numbers {
	display: flex;
	padding: 0;
	width: 114px;
	margin-left: 39px;


}

.numbers2 {
	display: flex;
	padding: 0;
	width: 114px;
	margin-left: 28px;
}

.children {
	padding: 0;
	display: flex;
	align-items: center;
	margin: 0;
	margin-left: 55px;
}
.children button {
	
	width: 38px;
	height: 38px;
	background-color: #f2f2f2; 
	border:none;
}

.button {
	
	height: 58px;
	/*margin-right: 58px;
	margin-left: 52px;*/
	margin-top: 55px; 
	padding: 0;
	width: 459px;

}
/*
.button-search {
	margin-top: 55px;
} */

.form-search div {
	line-height: 26px;
	font-weight: 700;
}

.form-search input {
	font: inherit;
	background-color: #f2f2f2; 
	border:none;
}

.form-search input:hover {
	background-color: #ebebeb;
}

.form-search input:focus {
	background-color: white;
	outline:none;
	border: 2px solid #e5e5e5; 
}

.button {
	font: inherit;
	text-transform: uppercase;

	color: white;
	font-size: 21px;
	font-weight: 700;
	vertical-align: middle;

	background-color: #81b3d2;
	border: none;
	margin-right: 0;
	margin-left: 0;
	
}

.button:hover,
.button:focus {
	background-color: #669ec0;
	outline:none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
-webkit-appearance: none; 
}


footer {
	background-color: white;
	height: 120px;
    align-items: center; 
    

}

.footer {
	z-index: 1;
    position: absolute;
    margin-top: -120px;
    background-color: rgba(255,255,255,.9);
  /*  box-shadow: 0 0 black; */
}

.map {
	z-index: 2;
}

.map-background {
	background-color: #cbdda9;
	background-image:url("img/map.png");

}


footer section {
	width: 400px;
}

.contacts {
	color: black;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	
}

.contacts span {
	padding-left: 90px;
}

.contacts a {
	color: black;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;

}


.social {
	padding-left: 0;
	
}

.social a {
	background-color: #81b3d2;
	text-align: center; 
	width: 46px;
	height: 46px;
	margin: 0 3px;


}


.twitter,
.youtube {
	padding-top: 15px;	
} 

.facebook {
	padding-top: 12px;
}



.academy {
	line-height: 26px;

}

.academy span {
	margin-right: 7px;
	padding-top: 15px;
		
}

.academy a {
	margin-top: 7px; 
}


/*	flex footer */

footer {
	display: flex;
	justify-content: space-around;
	

}


.contacts {
	display: flex;
	flex-direction: column;
}

.social  {
	display: flex;
	justify-content: center;

}

.academy {
	display: flex;
	justify-content: center;
	vertical-align: middle;
}


/*js*/

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(30px);
	}

	50% {
		transform: translateY(-15px);
	}

	75% {
		transform: translateY(15px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}

	15% {
		transform: translateX(-15px);
	}

	30% {
		transform: translateX(15px);
	}

	45% {
		transform: translateX(-15px);
	}

	60% {
		transform: translateX(15px);
	}

	75% {
		transform: translateX(-15px);
	}

	90% {
		transform: translateX(15px);
	}

	100% {
		transform: translateX(0);
	}
}

.form-show {
	display: block;
	animation: bounce 0.6s;

}

.form-error {
	animation: shake 0.6s;
}